/* mouse over link */
a:hover {
  color: red;
  font-weight: bold;
}
.top
{
position:absolute;
top:000px;
left:0px;
width:102.3%;
background-color:#b0e0e6;
padding: 50px;
font-family: "Lucida Console", "Courier New", monospace;
}

.left
{
top:148px;
position:absolute;
left:0px;
width:10%;
background-color:yellow;
padding: 23%;
font-family: "Times New Roman", Times, serif;
}
.right
{
top:148px;
position:absolute;
left:50%;
width:10%;
background-color:lightgrey;
padding:23.6%;
font-family: "Times New Roman", Times, serif;
}

